<h1>Change User Password: {{userName}}</h1>

<div>
  <form [formGroup]="userForm" (ngSubmit)="onFormSubmit(userForm.value)">
    <div class="form-group row">
      <div class="col-sm-2 control-label font-weight-bold">
        Password
      </div>
      <div class="col-sm-4">
        <input formControlName="password" type="password" class="form-control">
      </div>
    </div>    
    <div class="button-row">
      <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary">Save</button>
      <button type="button" [routerLink]="['/admin']" class="btn btn-danger">Cancel</button>
    </div>
  </form>
</div>



