<h1>Book Search</h1>

<p *ngIf="!results"><em>Loading...</em></p>

<div *ngIf="results">
  <div style="padding-bottom:5px;" class="input-group">
    <input type="text" #searchValue (keyup)="onKey(searchValue.value)" (keyup.enter)="search(searchValue.value,1)" class="form-control" />
    <div class="input-group-append">
      <button class="btn btn-info" (click)="search(searchValue.value,1)">Search</button>
    </div>
  </div>
  <div class="clearfix">
    <div style="float:left;">
      Your search returned {{ results.response.numFound }} results
    </div>
    <div class="button-row" style="float:right;">
      <a class="btn btn-primary btn-sm" [routerLink]="['/book-add']">New Book</a>
    </div>
  </div>

  <div id="facets" class="rounded border border-dark" style="padding:5px; margin-top:5px; margin-bottom:5px;">
    <div class="clearfix">
      <h4 style="font-weight:bold; display:inline-block">Ratings</h4><div *ngIf="filter != ''" style="display:inline-block; float:right;"><button class="btn btn-info btn-sm" (click)="clearFilter()">Clear</button></div>
    </div>
    
    <div class="row">
      <ng-container *ngFor="let facet of results.facet_counts.facet_ranges.average_rating.rangeCounts">
        <div *ngIf="facet.count != 0" class="col-md-2">
         <a [routerLink]="" (click)="search(searchValue.value, 1, facet.start, facet.end)">{{facet.start}}-{{facet.end}} ({{facet.count}})</a>
        </div>
      </ng-container>
      
    </div>
  </div> 
  

  <div *ngFor="let book of results.response.docs">
    <div class="rounded border border-dark" style="margin-bottom:10px; padding:5px;">
      <div class="clearfix">
        <h4><a [routerLink]="['/book/', book.id]">{{ book.title}}</a></h4>
      </div>      
      <div>
        <div class="row">
          <div class="col-sm-6">Author: {{book.author}}</div>
          <div class="col-sm-6">Rating: {{book.average_rating}}</div>
          <div class="col-sm-6">ISBN: {{book.isbn}}</div>
        </div>        
      </div>
    </div>
  </div>

  <div>
    <ngb-pagination class="d-flex justify-content-center"
                    [collectionSize]="results.response.numFound"
                    [(page)]="page" [pageSize]="10"
                    [maxSize]="5" [boundaryLinks]="true"
                    (pageChange)="search(searchValue.value, page, facetStart, facetEnd)">

    </ngb-pagination>
  </div>

</div>



