<h1>Book Search</h1>

<p *ngIf="!results"><em>Loading...</em></p>

<div *ngIf="results">
  <div style="padding-bottom:5px;" class="input-group">
    <input type="text" #searchValue (keyup)="onKey(searchValue.value)" class="form-control" />
    <div class="input-group-append">
      <button class="btn btn-info" (click)="search(searchValue.value,1)">Search</button>

    </div>
  </div>
  <div>
    Your search returned {{ results.response.numFound }} results
  </div>

  <div *ngFor="let book of results.response.docs">
    <div style="border:black 1px solid; margin-bottom:10px; padding:5px;">
      <h4>{{ book.title}}</h4>
      <div>
        <span>Author: {{book.author}}</span>
      </div>
    </div>
  </div>

  <div>
    <ngb-pagination class="d-flex justify-content-center"
                    [collectionSize]="results.response.numFound"
                    [(page)]="page" [pageSize]="10"
                    [maxSize]="5" [boundaryLinks]="true"
                    (pageChange)="search(searchValue.value, page)">

    </ngb-pagination>
  </div>

</div>



